@model ExemploEF.Models.Produto

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h1 class="my-4 text-center">Apagar produto</h1>

    <h3 class="text-danger">Você tem certeza que deseja apagar este produto?</h3>

    <div class="card">
        <div class="card-header">
            <h4 class="mb-0">Detalhes do produto</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Nome)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Estoque)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Estoque)
                </dd>

                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Categoria)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Categoria.CategoriaId)
                </dd>
            </dl>
        </div>
    </div>

    <div class="mt-4 text-center">
        <form asp-action="Delete" class="d-inline">
            <input type="hidden" asp-for="ProdutoId" />
            <button type="submit" class="btn btn-danger btn-lg">Apagar</button>
        </form>
        <a asp-action="Index" class="btn btn-secondary btn-lg ml-3">Voltar para lista</a>
    </div>
</div>
